.nav-container{
  background-color: black;
  width: 100%;
  height: 50px;

  .nav-links-сontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .link-item-block{
      display:flex;
      align-items: center;
      justify-content: center;
      width: 130px;
      height: 100%;
      text-align: center;
      margin-right: 5px;
      margin-left: 20px;

      .link-page{
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        text-decoration: none;
        color:white;
        position: relative;
      }
    }
    .link-item-block:hover{
      background-color:gray;
    }
    .nav-dropdown-menu{
      display: none;
      position: absolute;
      right:0;
      padding-right:20px;
      height: 50px;
      align-items: center;
      .active-dropdown-button{
        height: 30px;
        display: block;
        background: none;
        border: 1px solid white;
        border-radius: 5px;
        color:white;
      }
      .active-dropdown-button:active{
        outline: none;
      }
    }
    @media only screen and (max-width: 650px) {
      .nav-dropdown-menu{
        display: flex;
      }
      .link-item-block{
        display:none;
      }

    }
  }
}
.hidden_dropdown{
  display:none;
}
.dropdown_container{
  display:block;
  position: absolute;
  width: 100%;
  padding: 0;
  .list-links-pages{
    list-style-type: none;
    margin: 0;
    padding: 0;

    .dropdown-item{
      margin-top: -1px;
      background-color: black;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;

      .dropdown-link{
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        text-decoration: none;
        color:white;
        font-size: 17px;

        .dropdown-name-page{
          display:block;
          margin-left: 3%;
        }
      }
    }
    .dropdown-item:hover{
      background-color: gray;
      cursor: pointer;
    }
  }
}
@media only screen and (min-width: 650px) {
  .hidden_dropdown{
    display:none;
  }
}



