<form class="search-form">
  <mat-form-field class="search-form-input">
    <input matInput placeholder="Search in contents" autocomplete="off" (blur)="this.visibleSearchingListBlur()" (focus)="this.visibleSearchingListFocus()" [formControl]="searchingSearcher">
  </mat-form-field>
  <ul class="searching-select" [ngClass]="{searchingSelectVisible:searchingListVisible}">
    <li class="searching-select-item" *ngFor="let item of this.searchingArray">{{item}}</li>
  </ul>
</form>

<mat-tree class="tree-container" [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled class="hidden_border"></button>
    {{node.filename}} : {{node.type}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="padding">
    <button class="hidden_border" mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.filename}} : {{node.type}}
  </mat-tree-node>
</mat-tree>


