$smallestSize: .25rem;
$smallSize: .75rem;
$basicSize: 1rem;

.themefield__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.themefield__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $smallSize 0;
}

.themefield__button {
  margin-left: $smallSize;

  &:first-child {
    margin-left: 0;
  }
}

.themefield__container {
  margin: $smallSize 0;
}

.themefield__card {
  position: relative;
  margin: $smallSize auto;
  max-width: 40rem;
  color: rgba(0, 0, 0, 0.87);
}

.themefield__cardTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;

  &:first-letter {
    text-transform: uppercase;
  }
}

.themefield__cardAddress {
  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-size: $smallSize;
}

.themefield__cardId {
  position: absolute;
  right: $smallSize;
  bottom: $smallSize;
  min-width: $basicSize;
  padding: $smallestSize;
  height: $basicSize;
  line-height: $basicSize;
  text-align: center;
  font-size: $smallSize;
  opacity: .4;
  transition: .4s;

  &:hover {
    opacity: 1;
  }
}
