<div>Home Page</div>

<div class="authorisation">

  <div class="authorisation-form">

    <div class="authorisation-form-center">

      <div *ngIf="afAuth.user | async as user; else showLogin">
        <h1>Hello {{ user.displayName }}!</h1>
        <button (click)="logout()">Logout</button>
      </div>

      <ng-template #showLogin>

        <p id="loginHeader">Login to Academy</p>

        <div class="authenticationByEmail">
          <input type="email" id="txtEmail" placeholder='Email' [formControl]="emailSearcher"><br>
          <input type="password" id="txtPassword" placeholder='Password' [formControl]="passwordSearcher"><br>
          <button (click)="login()">Log in</button>
          <button id="btnSignUp" (click)="signup()">Sign up </button>
        </div>

        <input type="button" value='Login with Google' (click)="loginWithGoogle()">

        <input type="button" value='Login with GitHub' (click)="loginWithGithub()">

      </ng-template>

    </div>

  </div>

</div>
