.authorisation {
  display: flex;
  justify-content: center;

  .authorisation-form {
    width: 400px;
    display: flex;
    justify-content: center;

     #loginHeader{
       font-size: 20px;
       text-align: center;
       font-weight: bold;
     }

    #txtEmail, #txtPassword {
      height: 40px;
      width: 300px;
      box-sizing: border-box;
      background-color: rgb(250, 255, 189);
      padding-left: 20px;
      margin-bottom: 20px;
    }
    button,
    input[type='button']{
      width: 150px;
      height: 40px;
      background-color: rgb(100,0,228);
      color: white;
      font-weight: bold;
    }

    button {
      margin-bottom: 20px;
    }
  }
}

